.flexContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.flexChildLeft {
    margin-left: auto;
    margin-right: 0.5vw;
}

.flexChildCenter {
    width: 20vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.flexChildRight {
    margin-left: 0.5vw;
    margin-right: auto;
}

.namesContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.slidersContainer {
    display: flex;
    flex: 3;
    flex-direction: row;
}

.submitContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
}