@font-face {
  font-family: Exo;
  src: url('../public/Exo-Regular.ttf')
}

.header {
  text-align: center;
  font-size: 36px;
  font-family: Exo, Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 2px;
  margin-top: 5px;
}

.autorship {
  bottom: 0%;
  right: 1%;
  font-size: 12px;
  font-family: Exo, Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
}